{% extends 'base.html' %}

{% block title %}
    prueba
{% endblock title %}


{% block page %}

<div class="container">
    <div class="row justify-content-center">
            <h1 class="mt-4 mb-4 mr-4">Product List</h1>
            <a name="back" id="" class="btn btn-success mt-4 mb-4 mr-4 ml-4" href="{% url "app:prod_create"  %}" role="button">
            <i class="fas fa-plus    "></i>
                Add New
            </a>
    </div>


<table class="table table-bordered table-striped text-center">
<thead class="thead-dark">
<tr>
<th>Name</th>
<th>Quantity</th>
<th>Price</th>
<th>Description</th>
<th>Actions</th>
</tr>
</thead>
<tbody>
{% for contact in object_list %}
<tr>
<td>{{ contact.name }}</td>
<td>{{ contact.quantity }}</td>
<td>{{ contact.price }}</td>
<td>{{ contact.description }}</td>
<td>
<a  class="btn btn-primary" role="button" href="{% url "app:prod_detail"  contact.id  %}">details</a>
<a  class="btn btn-warning" role="button" href="{% url "app:prod_update"  contact.id  %}">edit</a>
<a  class="btn btn-danger" role="button" href="{% url "app:prod_delete"  contact.id  %}">delete</a>
</td>
</tr>

{% endfor %}
</tbody>
</table>
{% if is_paginated %}
      <div class="pagination">
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
              <span class="page-current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
              {% endif %}
          </span>
      </div>
  {% endif %}
</div>
{% endblock page %}